{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'framework.css' %}" type="text/css" media="all">
    <title>{% block title %} Blog {% endblock %}</title>
</head>

<body id="top">

    <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');"> 
      <div class="wrapper row1">
        <nav id="mainav" class="hoc clear"> 
        <img id="locallogo" src="img/logo-ifrn.png" alt="">
      </div>
      <div id="pageintro" class="hoc clear"> 
        <article>
          <h3 class="heading">Desenvolvimento do Sistema Genital durante a Adolescência</h3>
          <p>A puberdade é o periodo em que o corpo do ser humano é conduzido à maturidade sexual, acontecimento que torna o indivíduo capaz de se reproduzir. Ela acopla um amplo conjunto de modificações corporais e emocionais que ocorrem durante a adolescência, na transição entre a infância e a idade adulta. Nessa fase, também surgem muitos questionamentos e conflitos pessoais. Por isso, a puberdade é marcada como um período de intensas mudanças físicas e comportamentais.</p>
          <footer></footer>
        </article>
      </div>
    </div>
    <div class="wrapper row3">
      <main class="hoc container clear"> 
        <div class="sectiontitle">
          <h6 class="heading font-x3">Puberdade Masculina e Feminina</h6>
        </div>
        <div class="posts">
          <figure class="group">
            <div><a class="imgover" href="#"><img src="img/img2.jpg" alt=""></a></div>
            
            <figcaption>
              <h6 class="heading">Masculina</h6>
              <p>Nos meninos, a puberdade tem início um pouco mais tarde que nas meninas, entre os 9 e os 13 anos. Os testículos aumentam a produção de testosterona, que estimula o crescimento do genitais e dos pelos do corpo.
                As principais características da puberdade nos meninos são:</p>
                <li>	Aumento do volume dos testículos, que passa de 3 para 4 ml, podendo chegar aos 25 ml no final da puberdade;
                </li>
                <li>Crescimento do pênis a partir da metade da puberdade. Nesse período, pode surgir a polução noturna, ou seja, a ejaculação involuntária durante o sono;
                </li>
                <li>Pubarca masculina (crescimento dos pelos pubianos);
                </li>
                <li>Alteração da voz;
                </li>
                <li>Presença de acne (espinhas);
                </li>
                <li>Cheiro de suor;
                </li>
                <li>Aumento da oleosidade no cabelo e na pele.
                </li>
                <p>A puberdade precoce masculina caracteriza-se pelo crescimento dos testículos ou do pênis antes dos 9 anos de idade. A ausência de puberdade depois dos 14 anos indica retardo puberal. Ambos os casos necessitam de uma avaliação médica.
                </p>
            </figcaption>
            
          </figure>
          <figure class="group">
            <div><a class="imgover" href="#"><img src="img/img1.jpg" alt=""></a></div>
            <figcaption>
              <h6 class="heading">Feminina</h6>
              <p>O início da puberdade nas meninas ocorre entre os 8 e os 13 anos de idade. Os ovários aumentam a produção de estrogênio, que estimula o crescimentos dos genitais e das mamas. As meninas apresentam o estirão puberal de crescimento no início da puberdade, enquanto que os meninos só irão apresentá-lo no final da puberdade.
                Os primeiros sinais e características da puberdade nas meninas, são: </p>
                <li>O primeiro sinal é o aparecimento do broto mamário (telarca), um nódulo na região da aréola da mama, um pouco dolorido ao toque;
                </li>
                <li>Surgimento dos pelos pubianos (pubarca);
                </li>
                <li>Crescimento de pelos nas axilas, geralmente um ano após os pubianos;
                </li>
                <li>Cheiro de suor;
                </li>
                <li>Ocorrência da primeira menstruação (menarca).
                </li>
                <p>A puberdade precoce feminina ocorre quando o broto mamário surge antes dos 8 anos. Se for depois dos 13 anos, é sinal de retardo puberal. Nas duas situações, a menina deve ser avaliada por um médico.
              </p>
              <footer></footer>
            </figcaption>
          </figure>
        </div>
        <div class="clear"></div>
      </main>
    </div>

    <div class="wrapper row3">
      <section class="hoc container clear"> 
        <div class="sectiontitle">
          <h6 class="heading font-x3">Outros topicos</h6>
        </div>
        <ul class="nospace group latest">
          <li class="one_third first">
            <article>
              <h6 class="heading"><a href="#">Problemas típicos encontrados na puberdade</a></h6>
              <p>
                preocupação excessiva com a aparência que pode resultar em baixa autoestima, dúvidas sobre a própria identidade, necessidade de se modificar sua personalidade para se encaixar,
                quebra da segurança criada pela infância, pressão para agir de determinada maneira ou para obter excelência escolar,
                desenvolvimento de depressão,ansiedade e fobias, preocupação com reputação e popularidade, sexo ou engajamento em atividades sexuais sem métodos preventivos, modificação da dinâmica entre amizades feitas na infância, isolamento social,frustração exagerada ao não atingir objetivos, necessidade de mostrar amadurecimento, desejo de se manter afastado dos pais e familiares, reclusão de emoções e sentimentos, bullying</p>
              
              
            </article>
          </li>
          <li class="one_third">
            <article>
              <h6 class="heading"><a href="#">Alterações corporais durante a puberdade</a></h6>
              <p>De modo geral, as principais mudanças que ocorrem durante a puberdade são:
                Aceleração no crescimento ósseo;
                Desenvolvimento das características sexuais secundárias;
                Intensificação da atividade hormonal;
                Amadurecimento dos testículos e ovários;
                Aquisição da capacidade de reprodução.
                Em termos biológicos, a puberdade feminina e masculina têm início quando a glândula pituitária estimula o aumento da produção de hormônios sexuais pelas gônadas
                </p>
            </article>
          </li>
          <li class="one_third">
            <article>
              <h6 class="heading"><a href="#">Como a puberdade afeta o emocional?</a></h6>
              <p>As mudanças físicas, hormonais e sexuais são facilmente percebidas por estarem à vista. Durante esse período também ocorrem alterações neurológicas, cognitivas, sociais e psicológicas. Com tantos aspectos novos para se acostumar, é compreensível que os adolescentes se comportem de maneiras inusitadas ou não saibam como administrá-los. Os seus achados podem levá-lo a abandonar esportes ou atividades praticadas desde a infância, ou até mesmo amizades formadas quando criança. Por outro lado, o adolescente pode ter sentimentos de inadequação e de solidão, baixa autoestima, estresse, vergonha do corpo ou personalidade e medo do aumento de responsabilidades. 
               </p>
            </article>
          </li>
        </ul>
        
      </section>
    </div>
    <div>
      <center>
        <h6 class="heading font-x3">Imagems relacionadas aos topicos</h6>
        <img src="img/mudancasdapuberdade.webp" alt="">
        <p>mudanças corporais durante a puberdade feminina e masculina</p>
        <img src="img/Imagem do WhatsApp de 2024-07-22 à(s) 16.35.01_01cf9eaa.jpg" alt="">
        <p>Problemas emocionais na pré-adolecencia</p>
      </center>
    </div>
    <div class="wrapper row4">
      <footer id="footer" class="hoc clear">
        <div class="center btmspace-50"> 
          
          <h6 class="heading">Fontes</h6>
          <a class="nospace"href="https://www.todamateria.com.br/puberdade/">Site 1</a>
          <a class="nospace"href="https://www.vittude.com/blog/puberdade-adolescencia-terapia-ajuda-mudancas/">Site 2</a>
          <a class="nospace"href="https://acta-ape.org/article/problemas-emocionais-e-comportamentais-em-pre-adolescentes-classificados-como-recem-nascidos-de-risco/">Site 3</a>

          
        </div>
        <hr class="btmspace-50">
      
      </footer>
    </div>
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>
    </div>
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="layout/scripts/jquery.min.js"></script>
    <script src="layout/scripts/jquery.backtotop.js"></script>
    <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>