{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{% block title %}Blog - PSI{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Blog - PSI</h1><hr>
    </header>
    <section>
        <h2></h2>
        <img src="{% static 'foto.jpg' %}">
        <p>Sonhe com o que você quiser. Vá para onde você queira ir.
            Seja o que você quer ser, porque você possui apenas uma vida
            e nela só temos uma chance de fazer aquilo que queremos.
            Tenha felicidade bastante para fazê-la doce. Dificuldades
            para fazê-la forte. Tristeza para fazê-la humana. E
            esperança suficiente para fazê-la feliz. 
            - Clarice Lispector
        </p>
        <p>Data de Publicação:</p><hr>
    </section>
    <footer>
        <h3>Informações do Desenvolvedor:</h3>
        <h5>Nome: Luana T. S. Lima</h5>
        <h5>Idade: 17</h5>
        <h5>Curso: InfoWeb 3M</h5>
    </footer>
    
</body>
</html>
