{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  {% for post in posts %}
    <figure class="posts">
        <h6 class="post-titulo" >{{ post.titulo }}</h6>
        {% if post.foto %}
          <img src="{{ post.foto.url }}"  alt="" class="post-img">
        {% else %}
          <img src="{% static 'img/img1.jpg'%}"  alt="" class="post-img">
        {% endif %}
        <p class="post-conteudo" >{{ post.conteudo }}</p>
    </figure>
    </div>
    <div class="card">
      <img src="{% static 'img/img2.jpg'%}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Puberdade Masculina</h5>
        <p class="card-text"></p>
        <a href="puberdademasculina.html" class="btn btn-primary">Acessar</a>
    </div>
  </div>
  {% endfor %}
  

{% endblock %}