{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
        <h6>Puberdade Masculina</h6>
        <p>Nos meninos, a puberdade tem início um pouco mais tarde que nas meninas, entre os 9 e os 13 anos. Os testículos aumentam a produção de testosterona, que estimula o crescimento do genitais e dos pelos do corpo. As principais características da puberdade nos meninos são: 
            Aumento do volume dos testículos, que passa de 3 para 4 ml, podendo chegar aos 25 ml no final da puberdade;
            Crescimento do pênis a partir da metade da puberdade. Nesse período, pode surgir a polução noturna, ou seja, a ejaculação involuntária durante o sono;           
            Pubarca masculina (crescimento dos pelos pubianos);
            Alteração da voz;
            Presença de acne (espinhas);
            Cheiro de suor;
            Aumento da oleosidade no cabelo e na pele.
            obs: A puberdade precoce masculina caracteriza-se pelo crescimento dos testículos ou do pênis antes dos 9 anos de idade. A ausência de puberdade depois dos 14 anos indica retardo puberal. Ambos os casos necessitam de uma  avaliação médica.</p>
    </div>
  {% endfor %}
</div>

{% endblock %}